/*******NAVIGATION CSS*******/
.menu{
    display: none;
    clear: both;
}

.wholenav{
    clear: both !important;
}

.mainnav{
    background-color: #333;
  overflow: hidden;
  margin: 0 auto;
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
   clear: both;
}

.mainnav > li{
display: inline-block;
 margin: 50px;
 text-align: center;
}

.mainnav > li > a {
    display:block;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1024px){
   .mainnav > li {
       margin: 40px;
   }
}

@media screen and (max-width: 768px){
    .mainnav > li {
        margin: 30px;
    }
    .mainnav > li > a {
        font-size: 14px
    }
 }

 @media screen and (max-width: 425px){
     .mainnav{
         display: none;
         clear: both;
     }
    
    .mainnavsmall{
      
        background-color: #333;
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        clear: both;

    }
    .mainnavsmall> li{
    display: block;
    margin: 30px;
    }

    .mainnavsmall> li > a {
        margin-left: 20px;
        text-align: left;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
    }
    /* HAMBURGER ICON */
    .menu{
        padding: 2%;
        display: inline-block;  
        clear: both;
    }
         /*END HAMBURGER ICON */
}
/*******END NAVIGATION CSS*******/

.navtop{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.navtopleft{
    float: left;
    margin-top: 20px;
}

.navtopright{
    float: right;
}
.contactinfo{
    margin-left: 50px;
    margin-right: 30px;
    font-size: 30px;
}

.contactinfo > span {
    color: #197278;
}
.contactinfo > p{
    color: #2E4360;
}

.icn{
    margin-top: 20px;
    float: left;
    font-size: 40px;
    color: #2E4360;
}