/*=========================
===TRICK TO ALIGN TEXT VERTICALLY IN GRID===

1. Inside the grid , assign any child of grid a class and name it for ex (flx)
<div class="forthrow flx">
            <div class="react"><i class="fab fa-react"></i> React</div> 
    </div>

2. the above div is a child element of grid, the inner element has a class react.

3. here is the css to apply

.flx{
    display: flex;
    justify-content: center;
}

.react{
    align-self: center;
}
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif
========================*/
/*********DEFAULT STYLES**********/
html{
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    /* font-weight: ; */
    background-color: rgb(227, 205, 184,0.7);  
    margin: 0 auto;
    height: 100%;

    /* background-color: #CECECE; */
    width: 100%;
}


.uparrow{
    color: #42B896;
    font-size: 4em;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

/*******NAVIGATION CSS*******/
.menu{
    
    display: none;
    clear: both;
}

#nav{
    font-family: 'Raleway', sans-serif;
}

.wholenav{
    position: absolute;
    top: 10%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}

.mainnav{
    /* background-color: #333; */
    overflow: hidden; 
    list-style-type: none;
    text-align: center;
    clear: both;
}

.mainnav > li{
display: inline-block;
 /* height: 100px; */
 padding-left: 2%;
 padding-right: 2%;
 text-align: center;
}

.mainnav > li > a {
    display:block;
    text-align: center;
    font-size: 18px;
    /* font-weight: bold; */
    text-decoration: none;
    color: #000000;
}
.makecontact {
  
    /* background-color: #42B896; */
    padding: 1%;
    border-bottom: 1px solid #42B896;
    /* font-size: 22px; */
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.mainnav > .makecontact > a {
    color: #42B896;
    font-weight: 700;
    font-size: 25px;
}

/*******END NAVIGATION CSS*******/

/*ABOVE NAV BAR*/
.navtop {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
}

.navtopleft {
    float: left;
    /* margin-top: 20px; */
   
}
.navtopleft > img {
    width: 200px;
    height: 100px;
}

.navtopright {
    float: right;
}
.contactinfo {
    /* margin-left: 50px;
    margin-right: 30px; */
    font-size: 30px;
}

.contactinfo > span {
    color: #197278;
}
.contactinfo > p {
    color: #2E4360;
}
/*END ABOVE NAV BAR*/

/*********FIRST EMEMENT**********/
.firstelement{
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    background-color: rgba(246, 247, 235, 1);
    /* background-color: rgb(227, 205, 184,0.7);   */
    /* background-color: #010400; */
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.finside{
   -webkit-box-flex: 1;
       -ms-flex: 1;
           flex: 1;
   font-size: 5vw;
   font-weight: bold;
    text-align: center;
   padding: 0px 100px 0px 100px;
   /* padding-top: 0px; */
}

.fecode{
    font-size: 0.7em;
    color: #42B896;
    /* color: #59B799; */
}
.fedo{
    font-size: 8vw;
    font-weight: bolder;
}
/*********END FIRST ELEMENT**********/

/*********SECOND COMP**********/
.secondcomp{
    height: 100%;
    /* margin-top: 20px; */
    color: white;
    font-weight: 400;
    padding: 50px;
    text-align: center;
    /* background-color: rgba(173, 52, 62, 0.8); */
    /* background-color: rgba(7, 37, 133, 0.8); */
    background-color: rgba(25, 50, 60, 1);
    /* background-color: rgba(245, 245, 245, 1); */
    /* color: white; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 100px auto 200px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  
}

.appdev, .gamedev, .webdev, .logprog{
    font-weight: 700;
    font-size: 20px;
}

.secondrow, .thirdrow, .forthrow, .fifthrow, .sixthrow, .seventhrow, .ninthrow, .tenthrow, .elerow{
   /* border: 1px solid black; */
}

.firstrow{
    color: white;
    font-weight: bold;
    font-size: 40px;
    /* padding: 2%; */
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}
.firstrow > div {
   display: inline-block;
    border-bottom: 3px solid #42B896;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.secondrow{
    /* background-color: rgba(215, 38, 61, 0.2); */
    grid-column: 1 / 4;
    grid-row: 3/4; 

}
.thirdrow{
    /* background-color: rgba(244, 96, 54, 0.2) ; */
    grid-column: 4/ 7;
    grid-row: 3/4;
   
}
.forthrow{
    /* background-color: rgba(46, 41, 78, 0.2) ; */
    grid-column: 7/10;
    grid-row: 3/4;
   
}
.fifthrow{
    /* background-color: rgba(27, 153, 139, 0.2) ; */
    grid-column: 10/13;
    grid-row: 3/4;
    
}
.sixthrow{
    /* background-color:rgba(46, 41, 78, 0.5) ; */
    grid-column: 9/ 11;
    grid-row: 2/4;
   
}
.seventhrow{
    /* background-color: rgba(215, 38, 61, 0.2) ; */
    grid-column: 11/13;
    grid-row: 2/4;
  

}
.eighthrow{
    color: black;
    font-weight: bold;
    font-size: 40px;
    /* padding: 2%; */
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 4/ 5;
}
.eighthrow > div {
    display: inline-block;
     border-bottom: 3px solid #42B896;
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
 }
.ninthrow{
    /* background-color:  rgba(46, 41, 78, 0.2); */
    grid-column: 9/10;
    grid-row: 5/6;
    display: block;
    justify-self: center;
}
.tenthrow{
    /* background-color: rgba(27, 153, 139, 0.2); */
    grid-column: 10/11;
    grid-row: 5/6;
   
}
.elerow{
    /* background-color: rgba(197, 216, 109, 0.2) ; */
    grid-column: 3/4;
    grid-row: 5/6; 
}
.row12{
    grid-column: 4/5;
    grid-row: 5/6;
}
.row14{
    grid-column: 5/6;
    grid-row: 5/6;
}.row15{
    grid-column: 6/7;
    grid-row: 5/6;
}.row16{
    grid-column: 7/8;
    grid-row: 5/6;
}.row17{
    grid-column: 8/9;
    grid-row: 5/6;
}
.db{
    width: 40px;
    height: 40px;
}
.flx{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; */
            -ms-flex-line-pack: center;
                align-content: center;
}
.desc{
    font-family: 'Raleway', sans-serif;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    text-justify: none;
}

.appicon > img{
    margin: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    /* display: block; */
}
.appdev,.gamedev,.webdev,.logprog,.java,.php{
    /* -ms-flex-item-align: center;
        align-self: center; */ 
        padding-top: 10px;
}

/* .css{
    color: white;
} */

.secondcomp i{
    -ms-flex-item-align: center;
        align-self: center;
     /* color: teal; */
     font-size: 2em;
 }
/*********END SECOND COMP**********/

/*********THIRD ELEMENT**********/
.thirdcomp{
    /* height: 100%; */
    /* margin-top: 20px; */
    color: #2E294E;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    /* padding: 50px; */
    text-align: center;
    /* background-color: rgb(227, 205, 184,0.1);   */
    background-color: rgba(246, 247, 235, 1);
    /* color: white; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 20px auto auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  
}
.thirdcomp .detail{
    -ms-flex-item-align: center;
        align-self: center;
   margin: 0 auto;
padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    border: 1px solid black;
width: -webkit-max-content;
width: -moz-max-content;
width: max-content;
    border-radius: 3px;
}

.tfirstrow{
    color: black;
    font-weight: bold;
    font-size: 40px;
    /* padding: 2%; */
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}
.tfirstrow > div {
   display: inline-block;
    border-bottom: 3px solid #42B896;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.thirdcomp .secondrow{
    grid-column: 1/5;
}
.thirdcomp .thirdrow{
    grid-column: 5/9;
}
.thirdcomp .forthrow{
    grid-column: 9/13;
}
.thirdcomp .fifthrow{
    grid-column: 1/5;
    grid-row: 4/5;
}
.thirdcomp .sixth{
    grid-column: 5/9;
    grid-row: 4/5;
}
.thirdcomp .seventh{
    grid-column: 9/13;
    grid-row: 4/5;
}

/*********END THIRD ELEMENT**********/
/*********FORTH ELEMENT**********/
.forthcomp{
    height: 100%;
    /* margin-top: 20px; */
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    padding: 50px;
    text-align: center;
    background-color: rgba(25, 50, 60, 1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, -webkit-max-content);
    grid-template-rows: repeat(10, -webkit-max-content);
    grid-template-rows: repeat(10, max-content);
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
}

.flx4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tr1{
    color: white;
    font-weight: bold;
    font-size: 40px;
    /* padding: 2%; */
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}
.tr1 > div {
   
    display: inline-block;
     border-bottom: 3px solid #42B896;
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
 }

.tr2{
    font-size: 1.5em;
    font-weight: bolder;
    color:#F6F7EB;
    grid-column: 2/12;
    grid-row: 2/ 3;
}

.tr3{
    grid-column: 5/9;
    grid-row: 3/ 4;
}
.tr4{
    grid-column: 5/9;
    grid-row: 4/ 5;
}

.tr5{
    grid-column: 5/9;
    grid-row: 5/ 6;
}
.tr6{
    grid-column: 5/9;
    grid-row: 6/ 7;
}
.tr7{
    grid-column: 5/9;
    grid-row: 7/ 8;
}
.tr8{
    grid-column: 5/9;
    grid-row: 8/ 9;
}

.bio{
     /* display: block;  */
     /* position: absolute; 
     padding-left: 100px;
     right: -50%;  */
    display: block;
        -ms-flex-item-align: center;
            align-self: center;
}

/* .tr3{
    color: white;
    grid-row: 2/3;
    line-height: 10px;
    text-align: left;
    font-size: 1.2em;
    margin-top: 100px;
    grid-column: 6/-1;
}
.tr3 span{
    padding: 10px;
    display: inline-block;
    border: 3px solid #42B896;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
} */




/*********END FORTH ELEMENT**********/

/*********FORM ELEMENT**********/
.forthcomp{
    height: auto;
}

.sm{
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    font-size: 0.8em;
    margin-bottom: 20px;
    color:rgba(246, 247, 235, 1);
    background-color: rgba(25, 50, 60, 1);
    border-bottom: 1px solid #42B896;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-right-radius: 20%;
    transition-property: background-color, border-bottom-right-radius;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-out;
}
::-webkit-input-placeholder{
    font-size: 0.8em;
    color: rgba(246, 247, 235, 1);
}
:-ms-input-placeholder{
    font-size: 0.8em;
    color: rgba(246, 247, 235, 1);
}
::-ms-input-placeholder{
    font-size: 0.8em;
    color: rgba(246, 247, 235, 1);
}
::placeholder{
    font-size: 0.8em;
    color: rgba(246, 247, 235, 1);
}
.select{
    font-size: 0.8em;
    color: rgba(246, 247, 235, 1);
  
}
.select option{
    background-color:rgba(246, 247, 235, 1);
    padding:20px;
}
.select:focus{
    background-color:rgba(246, 247, 235, 1);
     color: black;
}

.sm:focus{
    outline:none;
    background-color: rgba(240, 240, 221, 0.69);
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    color: #000000;

}
.tr8 .btn{
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    font-weight: bolder;
    color: rgba(246, 247, 235, 1);
    background-color: #42B896;
    transition: background-color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.btn:hover{
    background-color: rgba(246, 247, 235, 1);
    color: #42B896;
}
/*********END FORM ELEMENT**********/

/*********MODALS**********/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0;
    top: 0; */
    width: 100% auto; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: width 0.5s ease-out;
  }
  
  /* Modal Content/Box */
  .modal-content {
      display: flex;
      justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(246, 247, 235, 1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; Could be more or less, depending on screen size */
  }

  .modal-content p {
    font-family: 'Raleway', sans-serif;
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 20px;
  }
  
  .modal-content img{
      margin: 20px;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*********END MODALS**********/
